header a {
  font-size: 1.25rem;
  font-weight: bolder;
  display: block;
  margin-bottom: 2rem;
}

.ateliers {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--peau-de-blanc);
  font-size: 1.125rem;

  h2 {
    margin-bottom: 1rem !important;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}
