.light-button {
  display: inline-block;
  margin-top: 1rem;
}

.exposition .description {
  font-size: 1.25rem !important;
}

.presentation {
  padding: 2rem;
  font-size: 1.25rem;

  .intervenant {
    background-color: white !important;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 2rem;

      img {
        flex: 1 1 100px;
        max-width: 320px;
      }

      .biographie {
        flex: 1 1 400px;
        p:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.histoire {
  h2 {
    margin-bottom: 0 !important;
  }
}

.programme {

  h2 {
    margin-left: 2rem;
  }

  .atelier {
    margin-top: 2rem;
    background-color: var(--peau-de-blanc);
    font-size: 1.125rem;
    padding: 2rem;

    h3 {
      margin-top: 0;
      margin-bottom: 1rem !important;
    }

    .subtitle {
      font-weight: bolder;
      font-size: 1.25rem;
      margin-top: -0.75rem;
    }
  }
}
