:root {
  --max-width : 1024px;
  --text-max-width : 768px;

  --bleu-marine : #161846;
  --bleu-gris : #8f9dc6;
  --bleu-glacon : #d3d8e8;
  --gris : #b6bbc7;
  --vert-clair : #9faaa6;
  --vert-foret : #03524e;
  --rose-fuschia : #ba3a6e;
  --peau-de-blanc : #f8c3c0;
  --rouge-bordeau : #570c39;
  --orange-flash : #f0522c;
  --jaune-orange : #fda408;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Display_Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Display_Bold_Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Display_Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Text_Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Text_Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Faune';
    src:    url('font/Faune-Text_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  margin: 2rem 0 0 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--bleu-marine);
}

li {
  margin-bottom: 1rem;
  position: relative;
}

.bouton {
  font-size: 1.125rem;
  font-family: 'Faune', sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--rouge-bordeau);
  border: solid 2px var(--peau-de-blanc);
  padding: 0.5rem 2rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.froid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.5'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%2d3d8e8' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%238f9dc6'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

  .bouton {
    color: var(--rouge-bordeau);
    background-color: var(--bleu-glacon);
    border: solid 2px var(--rouge-bordeau);
  }
}

.chaud {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='0.9'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23e3b0ae'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

  .bouton {
    color: var(--rouge-bordeau);
    background-color: var(--peau-de-blanc);
    border: solid 2px var(--rouge-bordeau);
  }
}

body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Faune', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23ffffff'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

  .annonce {
    text-decoration: none;
    font-size: 1.25rem;
    color:  var(--rouge-bordeau);
    margin-bottom: 2rem;
    background-color: var(--peau-de-blanc);
    padding: 0.5rem 1rem 0.75rem 1rem ;
    overflow: hidden;

    p {
      margin: 0;
      margin-bottom: -0.25rem;
      font-weight: bold;
      text-align: center;
    }

    .texte {
      margin: 0;
      display: inline-block;
      padding-left: 20%;
      white-space: nowrap;
      animation: defilement 20s infinite linear;
    }
  }

  header {
    max-width: var(--max-width);
    margin: 3rem auto 2rem auto;
    padding: 0 1rem;
    color: var(--rouge-bordeau);

    p {
      margin: 0.5rem 0 4rem 0;
      font-size: 1.5rem;
    }
  }

  main {
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 0 1rem;

    .accroche {
      min-height: 8em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23e3b0ae'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
      font-size: 3em;
      font-weight: bold;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .texte:after {
        animation: rotate-cover 20s infinite;
        white-space: pre-wrap;
        content: "";
        font-style: italic;
      }

      p {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
      }
    }

    .bloc-primaire {
      margin-top: 2rem;
      min-height: 8em;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700" opacity="1"><defs><filter id="nnnoise-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"><feTurbulence type="fractalNoise" baseFrequency="0.079" numOctaves="4" seed="15" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence><feSpecularLighting surfaceScale="10" specularConstant="0.4" specularExponent="20" lighting-color="%238f9dc6" x="0%" y="0%" width="100%" height="100%" in="turbulence" result="specularLighting"><feDistantLight azimuth="3" elevation="82"></feDistantLight></feSpecularLighting></filter></defs><rect width="700" height="700" fill="%23570c39"></rect><rect width="700" height="700" fill="%238f9dc6" filter="url(%23nnnoise-filter)"></rect></svg>');
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 2rem;
      gap: 2rem;
      position: relative;

      img {
        flex: 1 1 400px;
        object-fit: contain;
        max-width: 400px;
        width: 100%;
      }

      .content {
        flex: 1 1 320px;

        div {
          display: block;
          margin-bottom: 2rem;

          &:first-child {
            margin-bottom: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        h2 {
          display: inline;
          color: white;
        }

        p {
          color: white;
          font-size: 1.25rem;
        }

        a::before {
          content: '';
          position: absolute;
          inset: 0;
          z-index: 1;
          cursor: pointer;
        }
      }
    }

    .bloc-secondaire {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      min-height: 8rem;
      margin-top: 2rem;
      justify-content: space-between;
      gap: 2rem;

      > div {
        flex: 1 1 300px;
        padding: 2rem;
        display: flex;
        gap: 2rem;
        font-size: 1.25rem;
        position: relative;

        h2 {
          font-size: 1.5rem;
          display: inline;

          em {
            font-size: 2rem;
          }
        }

        p {
          display: inline;
        }

        div {
          margin: 0 1rem 0.5rem 1rem;
          text-align: center;
          width: 100%;
        }

        .contenu {
          margin: auto 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          div:last-child {
            padding-top: 1rem;
          }
        }

        a::before {
          content: '';
          position: absolute;
          inset: 0;
          z-index: 1;
          cursor: pointer;
        }

        .image {
          flex: 0 0 20%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 108%;
          background-color: var(--bleu-gris);
          background-blend-mode: multiply;
        }
      }
    }

    .information, .contact {
      margin-top: 2rem;
      padding: 2rem;
      text-align: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23e3b0ae'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

      h2 {
        margin: 0;
      }

      .form {
        margin-top: 2rem;

        .name {
          display: none;
        }

        .email {
          margin-bottom: 1rem;

          label {
            font-size: 1.125rem;
            font-weight: bold;
            display: block;
            margin-bottom: 0.5rem;
          }

          input {
            max-width: 300px;
            width: 80%;
            font-size: 1.125rem;
            font-family: 'Faune', sans-serif;
            font-weight: bold;
            color: var(--rouge-bordeau);
            background-color: var(--peau-de-blanc);
            border: solid 2px var(--rouge-bordeau);
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            text-align: center;
          }
        }

        .message {
          margin-bottom: 1rem;

          label {
            margin-top: -1rem;
            font-size: 1.125rem;
            font-weight: bold;
            display: block;
            margin-bottom: 0.5rem;
          }

          textarea {
            max-width: 640px;
            width: 80%;
            height: 160px;
            font-size: 1.125rem;
            font-family: 'Faune', sans-serif;
            font-weight: bold;
            color: var(--rouge-bordeau);
            background-color: var(--peau-de-blanc);
            border: solid 2px var(--rouge-bordeau);
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            text-align: left;
          }
        }
      }
    }

    .equipe, .soutiens, .histoire, .actu {
      margin-top: 2rem;
      padding: 2rem;
      text-align: center;

      h2 {
        margin: 0 0 2rem 0;
      }
    }

    .equipe {
      text-align: left;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23ffffff'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

      > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 2rem;

        .texte {
          flex: 1 1 400px;

          p {
            font-size: 1.25rem;
            margin-top: 0;
            margin-bottom: 2rem;
          }

          a {
            display: inline-block;
          }
        }

        .image {
          flex: 1 1 320px;
          max-width: 320px;

          img {
            max-width: 320px;
          }
        }
      }
    }

    .actu {
      margin-top: 4rem;
      padding: 0;
      text-align: left;

      h3 {
        font-size: 1.5rem;
        margin-top: 1rem;
      }

      img {
        max-width: 100%;
      }

      a::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        cursor: pointer;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        list-style: none;
        padding: 0;

        li {
          flex: 1 1 160px;
          padding: 2rem;
          background-color: white;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23ffffff'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

          .categorie {
            display: inline-block;
            margin: 1rem 0 0 0;
            font-size: 0.875rem;
            font-weight: bold;
            color: var(--rouge-bordeau);
            background-color: var(--peau-de-blanc);
            padding: 0.25rem 0.5rem;
          }

          .image {
            margin: 0 auto;
            width: 100%;
            height: 8rem;
            background-color: white;
            position: relative;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 80%;
              max-height: 80%;
            }
          }
        }
      }
    }

    .histoire {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%238f9dc6'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

      h2 {
        display: inline-block;
        background-color: var(--bleu-gris);
      }

      p {
        display: inline-block;
        background-color: var(--bleu-gris);
        font-size: 1.25rem;
        max-width: var(--text-max-width);
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
      }
    }

    .soutiens {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='40' specularConstant='3' specularExponent='20' lighting-color='%23fda408' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='163'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%23ffffff'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23fda408' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

      h3 {
        font-size: 1rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        list-style: none;
        padding: 0;

        li {
          flex: 0 0 200px;

          .image {
            margin: 0 auto;
            width: 100%;
            height: 8rem;
            background-color: white;
            position: relative;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 80%;
              max-height: 80%;
            }
          }
        }
      }
    }
  }

  footer {
    padding: 1rem 0.5rem;
    text-align: center;
  }
}

@keyframes defilement {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  50% {
    transform: translate3d(-50%,0,0);  /* position finale à gauche */
  }
  51% {
    transform: translate3d(50%,0,0);  /* position finale à gauche */
  }
  100% {
    transform: translate3d(0,0,0);  /* position finale à gauche */
  }
}

@keyframes rotate-cover {
  0% {
    content: "Avoir chaud,\A mais pas trop,\A selon la saison";
    opacity: 1;
    color: black;
  }
  17% {
    content: "Avoir chaud,\A mais pas trop,\A selon la saison";
    opacity: 1;
  }
  18% {
    content: "Avoir chaud,\A mais pas trop,\A selon la saison";
    opacity: 0;
    color: var(--rouge-bordeau);
  }
  19% {
    content: "Un art de vivre,\A pour le monde de demain";
    opacity: 0;
    color: black;
  }
  20% {
    content: "Un art de vivre,\A pour le monde de demain";
    opacity: 1;
  }
  37% {
    content: "Un art de vivre,\A pour le monde de demain";
    opacity: 1;
  }
  38% {
    content: "Un art de vivre,\A pour le monde de demain";
    opacity: 0;
    color: var(--rouge-bordeau);
  }
  39% {
    content: "Assez chaud\A assez frais,\A juste bien";
    opacity: 0;
    color: black;
  }
  40% {
    content: "Assez chaud\A assez frais,\A juste bien";
    opacity: 1;
  }
  57% {
    content: "Assez chaud\A assez frais,\A juste bien";
    opacity: 1;
  }
  58% {
    content: "Assez chaud\A assez frais,\A juste bien";
    opacity: 0;
    color: var(--rouge-bordeau);
  }
  59% {
    content: "Tempérons-nous\A sans tout cramer";;
    opacity: 0;
    color: black;
  }
  60% {
    content: "Tempérons-nous\A sans tout cramer";
    opacity: 1;
  }
  77% {
    content: "Tempérons-nous\A sans tout cramer";
    opacity: 1;
  }
  78% {
    content: "Tempérons-nous\A sans tout cramer";
    opacity: 0;
    color: var(--rouge-bordeau);
  }
  79% {
    content: "Au-delà de la performance,\A le confort";
    opacity: 0;
    color: black;
  }
  80% {
    content: "Au-delà de la performance,\A le confort";
    opacity: 1;
  }
  97% {
    content: "Au-delà de la performance,\A le confort";
    opacity: 1;
  }
  98% {
    content: "Au-delà de la performance,\A le confort";
    opacity: 0;
    color: var(--rouge-bordeau);
  }
  99% {
    content: "Avoir chaud,\A mais pas trop,\A selon la saison";
    opacity: 0;
    color: black;
  }
  100% {
    content: "Avoir chaud,\A mais pas trop,\A selon la saison";
    opacity: 1;
  }
}
