.logo img {
  width: 160px !important;
  height: 64px !important;
}

main {
  max-width: 720px !important;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.bloc-titre {

  a {
    font-size: 1.25rem;
  }

  .date {
    margin-top: 1rem;
    font-size: 1.24rem;
  }

  .cover {
    width: 100%;
    margin-top: 1rem;
  }
}

.article {
  font-size: 1.25rem;

  img {
    max-width: min(480px, 100%);
    margin-top: 2rem;
  }
}

.entete {
  font-weight: bold;
  font-size: 1.5rem;
}

.question {
  margin-top: 2rem;
}

q {
  display: inline-block;
  margin: 1rem 0 1rem 2rem;
  font-size: 2rem;
  font-style: italic;
}

.information {
  margin-top: 4rem !important;
}
